@import "~/assets/styles/colors.scss";

// Nav
.nav-link-content {
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: 3px solid $yellow;
}

.nav-link {
  text-align: center;
  color: $black;
  text-decoration: none;
  border: none;
  &:hover {
    color: $blue;
  }
}

.elv {
  &-1 {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }
}
