$xs-min: 0px;
$xs-max: 599px;
$sm-min: 600px;
$sm-max: 959px;
$md-min: 960px;
$md-max: 1263px;
$lg-min: 1264px;
$lg-max: 1903px;
$xl-min: 1904px;
$xl-max: 5000px;

$font-stack: "canada-type-gibson", Arial, sans-serif;

// Typography

$bold: 700;
$medium: 600;
$regular: 400;

$line-height: 1.5;
$line-height-small: 1.2;
$p-max-width: 48rem;

// @include breakpoint('md') {
//     padding: $container-padding-small;
//     // margin-top: $base-unit * 4;
//     // margin-bottom: $base-unit * 4;
//   }
